[package]
name = "lolcat"
version = "1.3.1"
authors = ["David Knaack <davidkna@users.noreply.github.com>"]
edition = "2018"

[dependencies]
palette = "0.4.1"
rand = "0.6.0"
structopt = "0.2.13"
unicode-segmentation = "1.2.1"
unicode-width = "0.1.5"

[target.'cfg(windows)'.dependencies]
ansi_term = "0.11"