[package]
name = "lolcat"
version = "1.4.0"
authors = ["David Knaack <davidkna@users.noreply.github.com>"]
edition = "2018"

[dependencies]
bytes = "0.4.12"
futures = "0.1.25"
palette = "0.4.1"
rand = {version = "0.7.0", features = ["small_rng", "std"]}
structopt = "0.2.13"
tokio = "0.1.16"
unicode-segmentation = "1.2.1"
unicode-width = "0.1.5"

[target.'cfg(windows)'.dependencies]
ansi_term = "0.12"
