[package]
name = "lcat"
version = "0.5.0"
authors = ["David Knaack <davidkna@users.noreply.github.com>"]
edition = "2018"
description = "Another lolcat in rust! Full unicode support, escapes for ANSI escape sequences, hue shift in CIE L*C*h."
readme = "README.md"
repository = "https://github.com/davidkna/lcat-rs"
documentation = "https://docs.rs/lcat/"
license = "MIT OR Apache-2.0"

[features]
default = ["clap"]

[dependencies]
bstr = "0.2"
clap = { version = "3.0.0-beta.2", optional = true }
lru = "0.6.1"
rand = { version = "0.7", features = ["std", "small_rng"] }
scarlet = "1.1"
unicode-segmentation = "1.3"
unicode-width = "0.1"

# Allocator
mimalloc = { version = "0.1.22", optional = true, default-features = false }
