cargo-features = ["edition"]

[package]
name = "lolcat"
version = "1.1.2"
authors = ["David Knaack <davidkna@users.noreply.github.com>"]
edition = "2018"

[dependencies]
palette = "0.4.1"
rand = "0.5.4"
structopt = "0.2.10"
unicode_reader = "0.1.1"
unicode-width = "0.1.5"

[target.'cfg(windows)'.dependencies]
ansi_term = "0.11"